<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post" action="/automation">
    <label for="search_key">Your Google Search Key</label>
    <input type="text" id="search_key" name="search_key"><br><br>
    <input type="submit" value="Run Automation" name="action">
</form>
</body>
</html>